/**
* Utils
*/
.flex {
  display: flex;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.center-x {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

.center-y {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.game-header-row {
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

.screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0 25px;
  display: none;

  &.active {
    display: block;
  }
}

.button {
  cursor: pointer;
  display: block;
  outline: none;
}

// Intro screen
#logo {
  margin: auto;
  margin-bottom: 30px;
}

#start {
}

.text {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  padding: 0 20px;

  &.small {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }
}

.footer-buttons {
  position: absolute;
  bottom: -15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.anim-sequence {
  height: 140px;
}

.anim-sequence img {
  width: 300px;

  // we stack all image containers one above another
  position: absolute;
  opacity: 0;

  // and place them in the middle of the screen
  left: 50%;
  transform: translateX(-50%);
}

.blink {
  animation: blink 0.5s ease-in;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#game-banner {
  position: absolute;
  // top: 22vw;
  margin-top: 82px;
  left: 50%;
  /* width: 100%; */
  transform: translateX(-50%);
  height: 62px;
  width: auto;
  display: flex;
  align-items: center;
}

.header-bg {
  width: 100%;
  max-width: unset;
}

.big-title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#result-score {
  margin: 20px 0;
  font-weight: bold;
}